// carouselbuttons styles

.carousel-controls {
  margin: $large 0 $large auto;

  .carousel-numbers {
    margin-top: $large;
    color: white;
    font-size: 36px;
    .current {
      font-size: 64px;
    }
  }
}

.radios--carousel {
  position: relative;
  width: 100px;
  transform: rotate(90deg) translateY(-60px);

  input[type="radio"] {
    position: absolute;
    right: 10000%;
  }

  .label--radio {
    float: left;
    width: 15%;
    padding-bottom: 15%;
    margin: 0 5%;
    background: rgba(255,255,255,.2);
    border-radius: 50%;
    cursor: pointer;
  }
}

#slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  padding-bottom: 10%;
  margin: 3px 0 0 8px;
  background: #fff;
  transition: transform 1s;
  border-radius: 50%;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left 0.05s ease-in-out;
}

#input1:checked  ~ #slider{ animation-name: input1; left:0; }
#input2:checked  ~ #slider{ animation-name: input2; left:25%; }
#input3:checked  ~ #slider{ animation-name: input3; left:50%; }
#input4:checked  ~ #slider{ animation-name: input4; left:75%; }

@keyframes input1{ 30%, 70% { transform:scale(0.5); } }
@keyframes input2{ 30%, 70% { transform:scale(0.5); } }
@keyframes input3{ 30%, 70% { transform:scale(0.5); } }
@keyframes input4{ 30%, 70% { transform:scale(0.5); } }
