// Grid lines

.grid-lines {
  z-index  : 0;
  position : fixed;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
  width    : 100vw;
  height   : 100vh;
}

.g {
  display        : flex;
  position       : relative;
  width          : 100%;
  max-width      : 100vw;
  margin         : 0 auto;
  padding        : 0 0.5rem;
  align-content  : flex-start;
  flex           : 0 1 auto;
  flex-direction : row;
  flex-wrap      : wrap;
}

@media
  only screen
  and (min-width : 20.063em) {
  .g {
    max-width : 100vw;
    padding   : 0 0.75rem;
  }
}

@media
  only screen
  and (min-width : 40.063em) {
  .g {
    max-width : 100vw;
    padding   : 0 2rem;
  }
}

@media
  only screen
  and (min-width : 60.063em) {
  .g {
    max-width : 1308px;
    padding   : 0 2rem;
  }
}

@media
  only screen
  and (min-width : 80.063em) {
  .g {
    max-width : 1488px;
    padding   : 0 2rem;
  }
}

.gridlines {
  z-index : 0;
  right   : 0;
  left    : 0;
  width   : 100vw;
  height  : 100vh;
}

.gridlines-group {
  display      : block;
  position     : relative;
  width        : 33.33333%;
  height       : 100vh;
  border-right : 1px solid #eee;
}

@media
  only screen
  and (min-width : 40.063em) {
  .gridlines-group {
    width : 25%;
  }
}

.gridlines-group:nth-child(1) {
  border-left : 1px solid #eee;
  animation   : expand 200ms normal ease-out;
}

.gridlines-group:nth-child(2) {
  animation : expand 400ms normal ease-out;
}

.gridlines-group:nth-child(3) {
  animation : expand 600ms normal ease-out;
}

.gridlines-group:nth-child(4) {
  display   : none;
  animation : expand 800ms normal ease-out;
}

@media
  only screen
  and (min-width : 40.063em) {
  .gridlines-group:nth-child(4) {
    display : block;
  }
}
