$prevwidth: 100px;
$navwidth: 300px;

.container {
  width: 100%;
  padding: $medium $large;
}

.container--main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container--navbar {
  flex: 0 0 $navwidth;
  overflow-y: auto;
  margin-left: 0;
  transition: margin-left .4s;
}

.container--navbar.hidden {
  margin-left: -$navwidth;
}

.container--navbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $off-black;
}

.container--navbar::-webkit-scrollbar {
  width: 10px;
  background-color: $off-black;
}

.container--navbar::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid #222222;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.feature-background {
  background: #2B2B2B;
  background-image: url("../images/secondary-bkg-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.two-col {
  column-count: 2;
  column-gap: 2em;
}

.green-underline {
  text-decoration: underline;
  text-decoration-color: $cwru-green;
  text-decoration-skip: ink;
}

.spacer--top {
  margin-top: $large;
}

.spacer--bottom {
  margin-bottom: $large;
}

.content {
  max-width: 600px;
  line-height: 1.5;
  margin-left: $large; 
}

.content--white{
  color: white;
  a {
    color: white;
  }
}

.pull-quote {
  opacity: 0;
  position: fixed;
  transition: opacity .4s;
}
.pull-quote.visible {
  opacity: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: $navwidth;
  background-color: $cwru-blue;
  padding: $large;
  font-size: 5em;
  display: flex;
  text-align: center;
  align-items: center;
}