$prevwidth: 100px;
$navwidth: 300px;

.container {
  width: 100%;
  padding: $medium $large $large;
  overflow-y: auto;
}

.container--main {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container--navbar {
  flex: 0 0 $navwidth;
  overflow-y: auto;
  margin-left: 0;
  transition: margin-left .4s;
  z-index: 2;
}

.container--navbar.hidden {
  margin-left: -$navwidth;
}

.container--navbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $off-black;
}

.container--navbar::-webkit-scrollbar {
  width: 10px;
  background-color: $off-black;
}

.container--navbar::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid #222222;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.feature-background {
  background: #2B2B2B;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.two-col {
  column-count: 2;
  column-gap: 2em;
}

.green-underline {
  text-decoration: underline;
  text-decoration-color: $cwru-green;
  text-decoration-skip: ink;
}

.spacer--top {
  margin-top: $large;
}

.spacer--bottom {
  margin-bottom: $large;
}

.content {
  max-width: 600px;
  line-height: 1.5;
}

.content--white{
  color: white;
  a {
    color: white;
  }
}

.mask {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: $navwidth;
  content: '';
  background-color: black;
  transition: opacity .4s;
  pointer-events: none;
}
.mask.active {
  opacity: 1;
}

.pull-quote {
  padding: $large 0;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 4px solid rgba(255,255,255,.2);
  border-bottom: 4px solid rgba(255,255,255,.2);
  margin-bottom: $large;
  .attribution {
    display: block;
    text-align: right;
    font-size: .5em;
    margin-top: $small;
  }
}

.slide-text {
  display: none;
}

.hidden {
  display: none;
}

.content--body {
  font-family: DepotNew-Regular, "Titillium Web";
}

.home-container {
  background-image: url('../images/home-bkg.png');
  background-size: cover;
  background-position: center;
  background-color: #f1f2f3;
  width: 100%;
  padding: $large;
  // header {
  //   // flex-grow: 1;
  // }  
  .title-container {
    flex-grow: 2;
  }
}
.title-container {
  width: 500px;
  margin: 0 20px 0 auto;
}
.home-title {
  color: $cwru-blue;
  font-weight: 100;
  text-transform: uppercase;
  border: 3px solid $cwru-blue;
  padding: $medium;
  position: relative;
  display: inline-block;
  strong {
    font-weight: 800;
  }
  &:after {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    width: 30%;
    background-color: #dde3eb;
    height: 40%;
  }
}

.onboard {
  position: absolute;
  top: 235px;
  background: #333;
  color: #fff;
  padding: .5em 2em .5em .5em;
  font-size: .75em;
  font-weight: bold;
  border-radius: 32px;
  box-shadow: 10px 10px 40px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  transition: all linear;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  .arrow {
    background: black url("../images/arrow.svg");
    background-size: 5px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 1em;
    content: '';
  }
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 0;
}

.behind-svg {
  z-index: 10;
  flex-grow: 4;
  width: 600px;
  margin-left: auto;
}

.gradient {
  background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}