$prevwidth: 100px;
$navwidth: 300px;

.container {
  width: 100%;
  padding: 1em 2em;
}

.container--full {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container--prev {
  flex: 0 0 $prevwidth;
  background: #000;
}

.container--navbar {
  flex: 0 0 $navwidth;
  overflow-y: auto;
}

.container--navbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: $off-black;
}

.container--navbar::-webkit-scrollbar
{
	width: 10px;
	background-color: $off-black;
}

.container--navbar::-webkit-scrollbar-thumb
{
	background-color: black;
	border: 1px solid #222222;
}


.container--content {
  overflow: scroll;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

header.feature-background {
  background: #2B2B2B;
  background-image: url("/images/feature-bkg-1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
