// Colors
$cwru-blue: #0A304E;
$link-blue: #3168A6;
$cwru-green: #C1CD24;
$off-black: #111111;

// Shape overlay colors
$path-fill-1: transparentize($cwru-blue, .25);
$path-fill-2: transparentize($cwru-blue, .5);
$path-fill-3: transparentize($cwru-blue, .75);
$path-fill-4: transparent;

// Pixel sizes
$tiny: 8px;
$small: 16px;
$medium: 32px;
$large: 48px;

// Animations
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.delay1 {
  animation-delay: .5s;
}

.delay2 {
  animation-delay: 1s;
}

@keyframes bounceX {
  50% { transform: translateX(2%)}
  100% { transform: translateX(0%)}
}

.bounceX {
  animation-name: bounceX;
  animation-iteration-count: infinite;
}