// General navmenu styles

.navmenu {
  padding-left: 0;
}

.menu--link {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  z-index: 2;
}

.menu--li {
  list-style: none;
}
// Featured navmenu styles

.navmenu--featured {
  margin: 0;
  a {
    color: white;
    z-index: 0;
  }

  .menu--li {
    cursor: pointer;
    position: relative;
    margin-bottom: $small;
    margin-top: $medium;
    background-image: linear-gradient(45deg, #383836 0%, #1E1D1D 100%);
    z-index: 0;

    &:after {
      content: '';
      background-color: $link-blue;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100%;
      transition: right 0.3s ease;
      z-index: -1;
    }
    &.active:after,
    &:hover:after {
      right: 0;
    }

    .menu--featured-img {
      width: auto;
      margin-right: $small;
      margin-top: -$small;
      z-index: 2;
    }

    .menu--featured-link {
      display: flex;
      align-items: flex-end;
    }

    .menu--link {
      margin-right: $small;
      margin-bottom: $tiny;
    }
  }
}
// Secondary navmenu styles

.navmenu--secondary {
  margin: 0;
  a {color: white;}
  .menu--li {
    padding: $small 0;
    border-bottom: 1px solid #383838;
    display: flex;

    .menu--thumb {
      width: 75px;
      margin-right: $small;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &.active a.link--underline {
      background-size: 100% 100%;
    }
  }
  .menu--div {
    display: table-cell;
  }
}
// Topnav navmenu styles

.topnav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  .menu--li {
    margin-left: 2em;
  }
}

.topnav.mobile {
  display: none;
  .menu--li {
    margin-left: 0;
    padding: 10px 0;
    a {
      color: white;
    }
  }
}

.home-container .topnav .menu--li {
  background-color: rgba(0,0,0,.6);
  padding: .4em 1em;
  border-radius: 43px;
}

@media (max-width: 1600px) {
  .topnav .menu--li {
    margin-left: 1em;
  }
}

@media (max-width: 950px) {
  .topnav {
    display: none;
  }
  .topnav.mobile {
    display: block;
  }
}
